<script> var apiKey = '{{apiKey}}' </script>

<div class="container">

  <div class="card-panel teal lighten-5 center">

    <h4 class="title">{{title}}</h4>
    <p id="loading">
      Loading weather...
    </p>

    <p id="intro">
      Local Forcast
    </p>

    </section>
    <section id="weatherResults">
      <!-- results here -->
    </section>
    
  </div>
</div>
