<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- materialize here -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

  </head>
  <body id="gradient">

    {{{body}}}
    <script> var apiKey = '{{apiKey}}' </script>

    <footer>
      <table>
        <tr>
          <td>
            <a href="https://www.github.com/catiecook/weather" target="blank">
              Github
            </a>
          </td>
          <td>
            |
          </td>
          <td>
            <a href="https://www.catiecook.com" target="blank">
              Personal Site
            </a>
          </td>
        </tr>
      </table>
    </footer>

    <!-- javascripts -->
    <script src="javascripts/location.js"></script>
    <script src="javascripts/utils.js"></script>
    <script src="javascripts/gradient.js"></script>

  </body>
</html>
