@import url('https://fonts.googleapis.com/css?family=Dosis:200,300|Playfair+Display:400,700,900');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10vmin;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

a {
  color: black;
}

.title {
  font-family: 'Playfair Display', serif;
}

img {
  width: 20%;
}
