<script> var apiKey = '{{apiKey}}' </script>

<div class="container">

  <div class="card-panel center" id="transparent">

    <h3 class="title">{{title}}</h3>
    <p id="loading">
      Loading weather...
    </p>

    <p id="intro">
      5 Day Forcast
    </p>

    </section>
    <section id="weatherResults">
      <!-- results here -->
    </section>

  </div>
</div>
